.panel-header{
	margin:40px 0px 50px;
}
.panel-icon{
	margin:40px 0px 150px;
}
.fa-circle-thin, .icon{
	color: #ccc;

}
.fa-circle-thin:hover{
	color:green;
	-webkit-transition-duration:1s;
	transition-duration:1s;
	-moz-transition-duration:1s;
}
.divider hr{
	border-width: 2px;
}

@media(max-width:768px){	
	.section-heading{
		font-size:24px;
	}
	.section-subheading{
		font-size: 16px;
	}
	.panel-header, .panel-icon{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.col-xs-6{
		margin-bottom: 15px;
	}
}